<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AllInOne_ObjC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C86183BB1EAE60F7000C08DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C86183D71EAE60F7000C08DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C86183E21EAE60F7000C08DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
